.helpCard {
  width: 340px;
  height: 360px;
  background: #ffe2de;
  font-family: Larsseit;
  font-size: 32px;
  line-height: 34px;
  letter-spacing: -0.006em;
  color: #ffffff;
}

.helpCard span {
  width: 255px;
  height: 72px;
  border-bottom: 1px solid #ffffff;
  margin: auto;
  display: block;
}
.helpCard h1 {
  display: inline;
  flex-wrap: wrap;
}
.helpCard div {
  display: inline;
  width: 9px;
  height: 9px;
  background: #e9b730;
  display: inline-block;
  border-radius: 50px;
  margin: 23px 15px 0 54px;
}
